@model List<DataMartApp.Models.seedData>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Basic Data Mart App under construction connected to development database
    
</p>

<div class="panel panel-info">
    <div class="panel panel-header">
        This is a basic Razor View rendered without WebAPI
    </div>
    <div class="panel panel-body">
        @foreach (var i in Model)
        {
            <br />@(i.name + " " + i.counter)
        }
    </div>
</div>


<div class="panel panel-success">
    <div class="panel panel-header">
        This is rendered with WebApi and AJAX
    </div>
    <div class="panel panel-body">
        <div>
            <b><a href="@Url.HttpRouteUrl("DefaultApi", new { controller = "Car" })">Show Web Api Data via link</a></b>
            <br />
            <b><a id="showCars" href="javascript:void(0)">Show Web Api Data</a></b>
            <b><a id="createCar" href="javascript:void(0)">Create a new Car</a></b>
            <ul id="list">


            </ul>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(function () {
        $('#showCars').click(function () {
            $.ajax({
                url: '@Url.HttpRouteUrl("DefaultApi", new { controller = "Car" })',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json',
                    statusCode: {
                        200: function (data) {
                            $('#list').empty();
                            $.each(data, function (id, car) {
                                var text = car.name + ' ' + car.counter;

                                $('#list').append('<li>' + text + '</li>');
                            })
                        }
                    }
                });
            })

        });

        var ObjData = {
            value: 'value' // will be accessible in $_POST['data1']
        }
        $(function () {
            $('#createCar').click(function () {
                $.ajax({
                    url: '@Url.HttpRouteUrl("DefaultApi", new { controller = "Car" })',
                    cache: false,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify("Test"),
                    statusCode: {
                        200: function (data) {
                            
                            $('#list').empty();
                            $.each(data, function (id, car) {
                                var text = car.name + ' ' + car.counter;
                                $('#list').append('<li>' + text + '</li>');
                            })
                        }
                    }
                });
            })

        });
</script>