@model List<DataMartApp.Models.seedData>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Basic Data Mart App under construction
    @System.Configuration.ConfigurationManager.ConnectionStrings["tdb"].Name
</p>

@foreach(var i in Model)
{
    <p>
        <br />
        @(i.name + " " + i.counter)
    </p>
}